.fakeimg {
  height: 200px;
  background: #aaa;
}

canvas {
  margin: auto; /* add the margin to center your canvas*/
  display: block;
}

h1 {
  text-align: center; /* Some CSS to center the text */
}

p {
  text-align: center;
}
